{% extends "base.html" %}
{% block title %}Choose Topic — SumSafari{% endblock %}

{% block content %}
<div class="container mt-5">

<h2 class="text-center mb-4" style="color: black;">
Choose a Topic For Your Quiz
</h2>

<div class="row g-4">
{% for topic in topics %}
<div class="col-md-4">
<div class="card shadow-sm p-3 text-center rounded-4">

<img src="{{ url_for('static', filename='images/topics/' ~ topic.topic_image) }}"
     style="width:100px; display:block; margin: 0 auto;" class="mb-2">

<h5 class="fw-bold">{{ topic.topic_name }}</h5>

<a href="{{ url_for('quiz.start_quiz', topic_id=topic.topic_id) }}"
   class="btn btn-success mt-2">
Start
</a>

</div>
</div>
{% endfor %}
</div>

<hr class="my-5">
<div class="p-4 rounded-4" style="background-color: #E0F7FA;">
<h4 class="text-center mb-3">
Test Yourself with Examination-style Questions
</h4>

<div class="text-center">
<a href="{{ url_for('quiz.start_quiz') }}"
   class="btn btn-primary btn-lg">
Start Mixed Quiz
</a>
</div>
<div></div>
</div>
{% endblock %}
